<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 8</b></center>
<center><b><h1>Mansi Fatepara | 23010101079 | 15/01/2025</b></center>
<pre>

# User Defined Function

### 01) Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [9]:
def Cal_BMI(m,h):
    BMI = (m/(h**2))
    print(BMI)

Cal_BMI(8,2)

2.0

### 02) Write a function that add first n numbers.

In [15]:
def add_n_number(n):
    sum=0
    for i in range(0,n+1):
        sum+=i
    return sum
    
add_n_number(3)

6

### 03) Write a function that returns 1 if the given number is Prime or 0 otherwise.

In [17]:
def prime_or_not(n):
    for i in range(2,n):
        if(n%i==0):
            print("number is not prime",n)
            return 0
        else:
            print("number is  prime",n)
            return 1

prime_or_not(10)
prime_or_not(5)

number is not prime 10
number is  prime 5

1

### 04) Write a function that returns the list of Prime numbers between given two numbers.

In [19]:
def prime_or_not_2number(n,m):
    for i in range(n,m+1):
        if i<2:
            continue
        for j in range(2,i):
            if(i%j==0):
              break;
        else:
            print(i)

prime_or_not_2number(1,10)

2
3
5
7

### 05) Write a function that returns True if the given string is Palindrome or False otherwise.

In [13]:
def isPalindrome(string):
    if string == string[::-1]:
        return True
    else:
        return False

isPalindrome('sks')
# isPalindrome('sky')

True

### 06) Write a function that returns the sum of all the elements of the list.

In [21]:
def sum_element_list(l):
    sum=0
    for i in l:
        sum+=i
    print(sum)

sum_element_list([1,2,3,4,5])

15

### 07) Write a function to calculate the sum of the first element of each tuples inside the list.

In [23]:
def sum_first_element(tuple_list):
    sum=0
    for i in tuple_list:
        sum+=i[0]
    print(sum)

sum_first_element([(1,2),(2,3),(3,4),(4,5),(5,6)])

15

### 08) Write a recursive function to find nth term of Fibonacci Series.

In [37]:
def fibonacci(n):
    """
    Recursive function to find the nth term of the Fibonacci series.
    :param n: The position in the Fibonacci series (1-based index).
    :return: The nth Fibonacci number.
    """
    if n <= 0:
        raise ValueError("The position must be a positive integer.")
    if n == 1:
        return 0  # First term in the Fibonacci series
    elif n == 2:
        return 1  # Second term in the Fibonacci series
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage:
n = 5  # Change this to find the nth term
print(f"The {n}th term in the Fibonacci series is {fibonacci(n)}.")

The 5th term in the Fibonacci series is 3.

### 09) Write a function to get the name of the student based on the given rollno.
#### Example: Given dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'} find name of student whose rollno = 103

In [39]:
def get_rollno(rollno,student_dic):
    return student_dic.get(rollno)

students = {
    101:'Ajay',
    102:'Rahul',
    103:'Jay',
    104:'Pooja',
}

print(get_rollno(103,students))

Jay

### 10) Write a function to get the sum of the scores ending with zero.
#### Example : scores = [200, 456, 300, 100, 234, 678] 
#### Ans = 200 + 300 + 100 = 600

In [44]:
def cla_score(scores):
    sum=0
    for i in scores:
        if(i%10==0):
            sum+=i
    print(sum)

scores=[200,456,300,100,234,678]

print(cla_score(scores))

600
None

### 11) Write a function to invert a given Dictionary.
#### hint: keys to values & values to keys
#### Before : {'a': 10, 'b':20, 'c':30, 'd':40}
#### After : {10:'a', 20:'b', 30:'c', 40:'d'}

In [68]:
def invert_keys_values(input_dict):
    result = {}
    for key, value in input_dict.items():
        result[value] = key
    return result

input_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

print("input_dict:",input_dict)
print("output_dict:",invert_keys_values(input_dict))

input_dict: {'a': 10, 'b': 20, 'c': 30, 'd': 40}
output_dict: {10: 'a', 20: 'b', 30: 'c', 40: 'd'}

### 12) Write a function to check whether the given string is Pangram or not.
#### hint: Pangram is a string containing all the characters a-z atlest once.
#### "the quick brown fox jumps over the lazy dog" is a Pangram string.

In [70]:
def is_pangram(input_string):
    alphabet = set("abcdefghijklmnopqrstuvwxyz")
    input_set = set(input_string.lower())
    return alphabet.issubset(input_set)

is_pangram("the quick brown fox jumps over the lazy dog")

True

### 13) Write a function that returns the number of uppercase and lowercase letters in the given string. 
#### example : Input : s1 = AbcDEfgh ,Ouptput : no_upper = 3, no_lower = 5

In [1]:
def upper_lower(input_string):
    upper_count=0
    lower_count=0
    for char in input_string:
        if char.isupper():
            upper_count+=1
        elif char.islower():
            lower_count+=1
    return {"upper":upper_count , "lower":lower_count}

s1 = "AbcDEfgh"
upper_lower(s1)

{'upper': 3, 'lower': 5}

### 14) Write a lambda function to get smallest number from the given two numbers.

In [3]:
smallest = lambda a,b :a if a<b else b

result = smallest(30,50)
print(result)

30

### 15) For the given list of names of students, extract the names having more that 7 characters. Use filter().

In [11]:
# student_list = ["mansi","khushi","bansi","janvi","isha"]
student_list = ["mansifatepara","khushi","bansi","janvi","isha"]

student_filter=list(filter(lambda name :len(name)>=7,student_list))

print(student_filter)

['mansifatepara']

### 16) For the given list of names of students, convert the first letter of all the names into uppercase. use map().

In [15]:
student_list = ["mansi","khushi","bansi","janvi","isha"]
 
cover_capitalized = list(map(lambda name:name.capitalize(),student_list))

print(cover_capitalized)

['Mansi', 'Khushi', 'Bansi', 'Janvi', 'Isha']

### 17) Write udfs to call the functions with following types of arguments:
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Legngth Positional(*args) & variable length Keyword Arguments (**kwargs)
5. Keyword-Only & Positional Only Arguments

In [17]:
def positional_args(a, b):
    return a + b

print("Positional Argument",positional_args(10, 20))  

print("----------------------------------------------------")

def keyword_args(a,b):
    return a + b

print("Keyword Arguments",keyword_args(b=10,a=20))

print("----------------------------------------------------")

def default_args(a,b=100):
    return a + b

print("Default Arguments",default_args(10))
print("Default Arguments",default_args(10,20))

print("----------------------------------------------------")

def variable_positional_args(*args):
    return sum(args)

print("Variable Legngth Positional(*args) ",variable_positional_args(1, 2, 3, 4))  

def variable_keyword_args(**kwargs):
    return kwargs

print("variable length Keyword Arguments (**kwargs)",variable_keyword_args(name="nandani", age=19))  

print("----------------------------------------------------")

def keyword_only_args(a, *, b):
    return a + b

print("Keyword-Only Keyword-Only ",keyword_only_args(10, b=20))
# print("Keyword-Only Keyword-Only ",keyword_only_args(10, 5))  # Error: b must be passed as a keyword argument

print("----------------------------------------------------")

def positional_only_args(a, b, /, c):
    return a + b + c

print("Positional Only Arguments",positional_only_args(10, 10, c=3))
# print("Positional Only Arguments",positional_only_args(a=10, b=5, c=3))  # Error: a and b must be positional-only

Positional Argument 30
----------------------------------------------------
Keyword Arguments 30
----------------------------------------------------
Default Arguments 110
Default Arguments 30
----------------------------------------------------
Variable Legngth Positional(*args)  10
variable length Keyword Arguments (**kwargs) {'name': 'nandani', 'age': 19}
----------------------------------------------------
Keyword-Only Keyword-Only  30
----------------------------------------------------
Positional Only Arguments 23